<app-content >
    <section class="site-section py-sm" >
        <br><br>
        <div class="bio text-center">
                  <img  src="assets/images/liw3.jpg" width="300" >
<br><br>
                  <h3>ประวัติย่อหลวงปู่หลิว ปณฺณโก วัดไร่แตงทอง นครปฐม.</h3>
                  <h5>อุปสมบท อายุ 27 ปี ณ พัทธสีมาพระอุโบสถ วัดโบสถ์ ตำบลบ้านเลือก อำเภอโพธาราม จังหวัดราชบุรี</h5>
                  <h5>(ประมาณเดือน 7 ก่อนเข้าพรรษา พ.ศ. 2475 ปีวอก)</h5>
                  <h5>หลวงพ่อโพธาภิรมย์ แห่งวัดบำรุงเมืองเป็นพระอุปัชฌาย์ หลวงพ่ออินทร์ วัดโบสถ์ เป็นพระกรรมวาจาจารย์ และมีพระอาจารย์ห่อ</h5>
                  <h5>วัดโบสถ์ เป็นพระอนุสาวนาจารย์ ได้รับฉายาจากพระอุปัชฌาย์ว่า “ปณฺณโก” เมื่ออุปสมบทแล้วหลวงปู่หลิว ได้มาจำพรรษา ณ วัดหนองอ้อ </h5>
                  <h5>หลังจากนั้นท่านได้ไปเรียนวิชาอาคม จากอาจารย์หม่ง ชาวกระเหรี่ยง, หลวงพ่อแดง วัดเขาบันไดอิฐ จังหวัดเพชรบุรี,</h5>  
                  <h5>หลวงพ่อคล้าย วัดสวนขัน จังหวัดนครศรีธรรมราช, หลวงพ่ออุ้ม จังหวัดนครสวรรค์ และคณาจารย์อีกหลายๆท่าน ทั้งที่เป็นภิกษุและฆราวาส</h5>             
                  <br><br><br><br>


                 
 </div> <img  src="assets/images/taw.jpg" width="1250px" >
</section>
    </app-content>